:root {
    --mc: #EF4130;
    --sc: #404345;
    --wc: #ffffff;
    --bc: #1b1b1b;
    --gc: #ddd;
    --lc: #bcbcbc;

}

* {
    outline: 1px solid tomato--;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* ---------header--------- */

#Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    line-height: 8rem;
    transition: 0.5s;

    background: rgba(255, 255, 255, 0.7);
}

#Header.on {
    background: var(--wc);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#Header h1 {
    font-size: 0;
}

#Header .inner {
    display: flex;
    justify-content: space-between;
}

#Header .util {
    display: flex;
    margin: 0.6rem 0 0 0;
    gap: 2rem;
    align-items: center;

    font-size: 2rem;
    color: var(--sc);
}

#Header .mopen {
    display: none;
}

/* ---------header 반응형--------- */

@media (max-width: 76.8rem) {

    #Header {
        height: 80px;
    }

    #Header .inner {
        justify-content: center;
    }

    #Header h1 {
        position: fixed;
        z-index: 1000;
    }

    #Header .util .sp {
        display: none;
    }

    #Header .util .mn {
        display: none;
    }

    #Header .util .sc {
        display: block;

        position: fixed;
        right: 3.6rem;
        top: 3rem;
        line-height: 1;
        z-index: 999;
    }

    #Header .mopen {
        display: block;
        position: fixed;
        left: 3.6rem;
        top: 3rem;
        line-height: 1;
        z-index: 999;
    }

    #Header .mopen .hamburger {
        padding: 0;
    }

    #Header .mopen .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        width: 3rem;
        height: 0.2rem;
    }

}


/* ---------gnb--------- */

#gnb {}

#gnb>ul {
    display: flex;
    gap: 6rem;
}

#gnb>ul>li {
    position: relative;
}

#gnb>ul>li~li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -3rem;
    width: 0.1rem;
    height: 1.2rem;
    background: var(--lc);
    transform: translate(0, -50%);
}

#gnb>ul>li>a {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--bc);
}

/* ---------gnb 반응형--------- */

@media (max-width: 76.8rem) {
    #gnb {
        /* r */
        position: fixed;
        top: 0;
        left: -100%;
        background: var(--wc);
        z-index: 999;

        height: 100vh;
        width: 100%;
        padding: 8rem 1.5rem 0 1.5rem;

        border-right: 0.1rem solid var(--gc);

        transition: left 0.5s;
    }

    #gnb.on {
        left: 0;
    }

    #gnb>ul {
        /* r */
        margin: 4rem 0 0 0;
        gap: 0;
        flex-direction: column;
        line-height: 4rem;
    }


    #gnb>ul>li~li::after {
        /* r */
        display: none;
    }

    #gnb>ul>li>a {
        border-bottom: 1px solid var(--gc);
    }
}

/* ---------main : content--------- */

#content {}

/* ---------main_slide--------- */

.main_slide {
    /* position: relative; */
}

.main_slide .itm {
    position: relative;
    height: 100vh;
}

/* ---------main_slide 이미지--------- */

.main_slide .swiper .itm01 {
    background: url(../images/main_slide01.jpeg) no-repeat center center/cover;
}

.main_slide .swiper .itm02 {
    background: url(../images/main_slide02.jpeg) no-repeat center center/cover;
}

.main_slide .swiper .itm03 {
    background: url(../images/main_slide03.jpeg) no-repeat center center/cover;
}

.main_slide .swiper .itm04 {
    background: url(../images/main_slide04.jpeg) no-repeat center center/cover;
}

/* ---------main_slide 택스트--------- */

.main_slide .txt_box {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding: 36.6rem 1.5rem 0 1.5rem;
}

.main_slide .txt_box>span {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;

    color: var(--mc);

    margin: 0 0 1.2rem 0;
    white-space: nowrap;
}

.main_slide .txt_box p {
    font-size: 5rem;
    font-weight: 700;
    color: var(--bc);

    line-height: 1.2;
    white-space: nowrap;

    margin: 0 0 3rem 0;
}

.main_slide .btn_area a {
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    border: 0.1rem solid var(--sc);
}

.main_slide .btn_area a span {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: var(--sc);
}

/* ---------main_slide 페이지네이션--------- */

.main_slide .swiper-pagination {
    bottom: 10rem;
}

.main_slide .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 1px solid var(--sc);
    opacity: 1;
}

.main_slide .swiper-pagination-bullet-active {
    width: 40px;
    transition: width .5s;
    border-radius: 5px;
    background: var(--sc);
    border: 1px solid transparent;
}

/* ---------main_slide 화살표--------- */

.main_slide .slide_btn {
    position: absolute;
    max-width: 150rem;
    width: 100%;
    left: 50%;
    top: 50%;
    z-index: 999;

    transform: translate(-50%, -50%);
}

.main_slide .slide_btn span {
    font-size: 4rem;
    color: var(--sc);
}

.main_slide .swiper-button-n {
    position: absolute;
    left: 0;
}

.main_slide .swiper-button-p {
    position: absolute;
    right: 0;
}

/* ---------main_slide 반응형--------- */

@media (max-width: 768px) {
    .main_slide {}

    .main_slide .itm {
        /* r */
        height: calc(100vh - 250px);
    }

    .main_slide .txt_box {
        max-width: 120rem;
        width: 100%;
        margin: 0 auto;
        padding: 28rem 1.5rem 0 1.5rem;
    }

    .main_slide .txt_box>span {
        display: block;
        font-size: 3.5vw;
        font-weight: 500;

        color: var(--wc);

        margin: 0 0 1.2rem 0;
        text-align: center;
        white-space: nowrap;

        text-shadow: 1px 1px 3px var(--bc);
    }

    .main_slide .txt_box p {

        font-weight: 700;
        color: var(--wc);

        font-size: 6vw;
        line-height: 1.2;

        text-align: center;
        white-space: nowrap;

        margin: 0 0 3rem 0;
        text-shadow: 1px 1px 3px var(--bc);
    }

    .main_slide .btn_area {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main_slide .btn_area a {
        display: inline-block;
        text-align: center;
        padding: 1rem 2rem 1rem 2rem;
        border: 0.1rem solid var(--wc);

        background: rgba(0, 0, 0, 0.3);
    }

    .main_slide .btn_area a span {
        font-size: 2.4vw;

        font-weight: 500;
        line-height: 1;
        color: var(--wc);
    }

    .main_slide .slide_btn {
        display: none;
    }
}


.main_new {
    height: 100rem;
    background: var(--gc);
}